.preview{
    float: left;
    margin-top: 5%;
    position: relative;
    top: 100px;
    background-color: rgb(239, 241, 249);
    padding: 15px;
    border-radius: 15px;
    width: 600px;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 2px 20px 0 rgba(0,0,0,0.19);
}

.userData{
    float: left;
    margin-left: 15px;
}


.photo_profile{ 
    border-radius: 50%;    
    width: 200px;
    height: 200px;
    float: left;
}

.preview span{
    display: block;
    width: 350px;
}