.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#009688, 0,#009688    100%) !important; /* override background image gradient w/ flat color */
}

.brand-subtext {
    font-size: 13px;
    text-align: initial;
}

.textBlack {
  color: black;
  font-weight: bold;
}

.slideCard {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);;
  margin-right: 30%;
  margin-left: 30%;
  align-content: center;
}


@keyframes sun-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sun {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}
