.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
svg {
  width: 10vw;
}
.st0{
clip-path: url(#websiteClip);
stroke-width: 8;
fill:  none;
stroke:  #ff7171;;
}
.st1{
clip-path: url(#websiteClip);
stroke-width: 13;
fill:  none;
stroke: #ff7171;;
} 
.st2{
clip-path: url(#websiteClip);
stroke-width: 8;
fill:  none;
stroke:  #ff7171;;
} 
.st3{
clip-path: url(#websiteClip);
stroke-width: 11;
fill:  none;
stroke:  #ff7171;;
} 
.st4{
clip-path: url(#websiteClip);
stroke-width: 8;
fill:  none;
stroke:  #ff7171;;
} 
.st5{
clip-path: url(#websiteClip);
stroke-width: 11;
fill:  none;
stroke:  #ff7171;;
} 
.st6{
clip-path: url(#websiteClip);
stroke-width: 11;
fill:  none;
stroke:  #ff7171;;
} 