.lista{
    display:inline-block;
    margin-left:40px;    
    width: 60%;
    height: 100px;
}
h1{
    font: oblique bold 200% cursive;
}
h2{
    display:inline-block;
    margin-right:30px;
    margin-left:20px;
    margin-top:0px;
    margin-bottom:10px;  
    font-size: 30px;
    font: normal;
}