
div#box{
    padding:5px;
    background:white;
    margin: 10px;
    float: left;
    width:27%;
    height:auto;
    text-align: center;
    box-shadow: 0px 0px 10px 0.5px gray; 
    border-radius: 10px;
  }

  div#reader{
    height: 1000px;
  }


  
  div#box img{
    height:20vh;
    width:20vh;
  }
  
  
  div#left-column{
    border: 1px dashed white;
    padding:5px;
    margin-right: 2%; 
    float:left;
    width:28%;
    margin-bottom: 17px;
  }
  
  div#right-column{
    margin-bottom: 17px;
    border: 1px dashed white; 
   padding:auto;
   width:66%;
   float:left;
  }

  div#reader_tools{
    float:left;  
    padding:5px;
    background:white;
    margin-right: 10px;
    width:10%;
    height:auto;
    text-align: center;
    box-shadow: 0px 0px 10px 0.5px gray; 
    border-radius: 10px;
}

img#page{
  float:left;
  width: 66%;
}

img#img-person{
  margin-top: 10px;
}

div#info-book{
  float:left; 
    padding:5px;
    background:white;
    margin-left: 10px;
    width:20%;
    height:auto;
    text-align: center;
    box-shadow: 0px 0px 10px 0.5px gray; 
    border-radius: 10px;
}
#books_person{
  display: inline-block;
}

div#reader{
  margin-top: 150px;
}

.userbar_button{
  float: right;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
}
