body {
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: rgb(59, 57, 57);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
