.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#48567F, 0,#48567F    100%) !important; /* override background image gradient w/ flat color */
}

.brandSubtext {
    font-size: 13px;
    text-align: initial;
}

.clima{
  width: 15%;
}

@keyframes sun-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sun {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}