.all{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 25px 20%;
}

p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.grid{
  width: 50%;
  height: 100%;
  float: left;
  padding: 0;
}


.cell{ 
  display: inline-block;
  border: thin solid #cecece;
  height: auto;
  padding-left:35px;
  padding-right:35px;
  margin: 8px;
  width:-webkit-fill-available;
  border-radius: 5px;
  background-color: #8500ff14;
  padding-bottom: 15px;
}

.perfil{
  width:-webkit-fill-available;
}

.photo_div{ 
  width: 25%;
  padding: 0;
  display: inline-block;
  float: left;
}

.photo_profile{ 
  border-radius: 50%;    
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-bottom: 16px;
}

.update_photo{ 
  color: blue;
}

.name_div{ 
  width: 75%;
  padding: 0;
  display: inline-block;
  float: left;
}

.name{
  padding-left: 1.2em;
  font-size: 23px;
  line-height: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.text_profile{ 
    margin-bottom: 16px;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.editar{
  float: right;
  color: blue;
  font-size: 15px;
}

.mail{
  margin-left: 8px;
  margin-bottom: 7px;
  font-size: 20px;
}
.style{
  margin-left: 8px;
  font-size: 16px;
}

.history{
  margin-left: 8px;
  text-decoration: none;
  color : blue;
  margin-bottom: 24px;
}

.phone{
  margin-left: 8px;
  font-size: 20px;
  margin-bottom: 7px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
.number{
  margin-left: 16px;
  margin-bottom: 0px;
}