.body_CardSection{
    margin-left: 5%;
    margin-top: 4%;
    overflow: hidden;
}
.title_CardSection{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color:red;
    padding-bottom: 2%;
}
.CardSection h1{
    color:red;
}