div.ImageObjectDiv{
    width: 30%;
  background-color: rgb(30, 151, 141);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
    float: left;   
    margin-right: 50px;
}
div.Description{
    margin-left: 200px;        
}
.ImageObject{
    display: inline-block;    
    margin: 20px;
    width: 120px;
    
}
.MissingObject{ 
    padding-top: 5%;
    box-shadow:  8px 0 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);    
    margin:auto;
    margin-bottom: 4px;
    text-align: left;   
    width: 90%; 
    height: 70%;
    display: block;
    padding-left: 50px;
    padding-bottom: 15px;
    background-color: rgba(99, 182, 202, 0.842);
    
}
h3.NameObject{
    
    text-decoration: overline;
    margin-left: 50px;
    color: rgb(78, 68, 59);    
}
li{
    color: rgb(15, 34, 31);    
    
}
button.Mine{
             
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: 25%;
    text-align: center;    
    display: inline-block;
    font-size: 15px;
    margin: 4px 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button.Other{
    margin-left: 30px;
}