.sidenav {
    height: 100%;
    width: 18%;
    position: fixed;    
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #316e7d;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 2px 5px black;        
  }

  .Profile-Image{
    margin-top: 20px;
  }

  .Avatar{
    width: 70% ;
    height: 70%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;

  }

  .NavContent a {
    margin-left: 15px;
    padding-top: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    transition: 0.3s;    
    border-bottom: 2px solid #4CAF50;
    margin-bottom: 15px;
    width: 80%;
    cursor: pointer;
  }

  .NavContent a:hover {
    background-color: #6DFC71;
    color: black;
    box-shadow: 2px 2px 5px black;  
    cursor: pointer;  
  }

  .NavContent {
    margin-top: 40px; 
    margin-left: 10px;       
  }

  .Name{
    font-size: 25px;
    font-weight: 15px; 
    color: #dddddd;   
  }

  .Place{
    font-size: 15px;
    color: #dddddd;   
  }

  .SettingsButton{

    float: center; 
    margin-top: 50px;       
  }