.add{
    background-color: cornflowerblue;
    color: #fff; 
    width: 20%;
    height: 34px;
    float: right;
    padding: 0 12px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 20px;
    display: inline-block;
  }
  .add:hover{
    background-color: rgba(44, 59, 143);
    cursor: pointer;
  }
  
  .text{
    width: 75%;
    height: 34px;
    padding: 0 12px;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 20px;
    display: inline-block;
  }

  @media(max-width: 1200px){
    .text{
      width: 73%;
    }
   }
   
   @media(max-width: 765px){
     .text{
       width: 72%;
     }
     .add{
       width: 18%;
     }
    }