.img{
    width: 300px;
    height: 300px;
    float: left;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.info{
    
}
.title{
    font-weight: bold;
}