.button {
    /* background-color: #1a1b1f; */
    border-radius: 0;
    top: 1px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    max-width: 100%;
    padding: 12px 25px;
    position: relative;
      text-decoration: none;
    text-transform: uppercase;
    transition-delay: 0s,0s,0s;
    transition-duration: 400ms,400ms,400ms;
    transition-property: background-color,opacity,color;
    transition-timing-function: ease,ease,ease;
    z-index: 5;
  }


  /* //////////////////////////////////////// */
 
  
   .searchButton {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: rgb(50, 20, 220);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
  }
   .searchButton:hover {
    cursor: pointer;
  }
   .searchButton::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 13px;
    right: 0;
    bottom: 0;
    left: 15px;
    width: 9px;
    height: 2px;
    background: rgb(255, 238, 0);
    transform: rotate(45deg);
    transition: all .5s;
  }
   .searchButton::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 242);
    transition: all .5s;
  }
   input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 40px;
    outline: none;
    border: none;
    background: rgb(216, 216, 216);
    color: rgb(255, 0, 0);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
   input:hover {
    cursor: pointer;
  }
   input:focus {
    width: 190px;
    opacity: 1;
    cursor: text;
    left: -160px;
  }
   input:focus ~ .searchButton {
    right: 0px;
    background: #151515;
    z-index: 6;
  }
   input:focus ~ .searchButton::before {
    top: 0;
    left: 0;
    width: 25px;
  }
   input:focus ~ .searchButton::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: rgb(81, 255, 0);
    border-radius: 0%;
    transform: rotate(-45deg);
  }
   input::placeholder {
      font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    opacity: 0.5;
    font-weight: 500;
  } 