.container{
    width: 90%;
    height: 90%;
}
table, td{
    border: 1px solid black;
}
table{
    margin: 0 auto;
    width: 40%;
    height: 60%;
    border-collapse: collapse;
}
td{
    vertical-align: middle;
    height:10em;
    text-align: center;
}