

 .numero_CURSOS h1{
  float: left;
  margin: 20px;

 }

  .active{
    color: rgb(0, 0, 0);
    float: left;
  }
  .Unselected{
    color: rgb(196, 196, 196);
    float: left;
  }
.barra_CURSOS{
  margin-left: 40.9vw;
}