.all{
  background-color: rgba(255, 255, 255, 0.877);
  padding: 0 33%
}
.title {
  font-family: 'Gayathri', sans-serif;
  text-align: center;
}

.taskToDo{
  font-family: 'Gayathri', sans-serif;
  text-align: center;
}

.addList{
  padding: 0 25%;
}

.p1{
  display: inline-block;
  text-align: center;
  margin-left: 100px;  
  margin-top: 10px;
  font-size: 20px;
}

.p2{
  display: inline-block;
  text-align: center;
  margin-left: 100px;  
  margin-top: 10px;  
  font-size: 20px;
}
