.menu {
    margin-top: 20%;
    margin-left: 20%;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #191C26;
}

.menu a:hover {
    background-color: rgb(138, 138, 138);
}

.menu ul li ul {
    display: none;
}

.menu ul li a:hover+ul,
.menu ul li ul:hover {
    display: block;
}