.Main {
    min-height: 80%;
    min-width: 80%;
    border-style: groove;
}

.button1 {
    margin: 5px;
}

.button2 {}

.button1:hover,
.button2:hover {
    background-color: #084B9C;
    color: white;
}