.button {
    text-align: center;
}

.container {
    background-image: url(background.jpg);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    padding-top: 1%;
    min-height: 900px;
}