div.navigation {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
      box-sizing: border-box;
    display: flex;
    padding: 10px 50px;
    position: relative;
    z-index: 1000;
    width: 100vw;
    /* background-color:#F29BB2; */
    background-color:#F2636F;
  }

  div.navigation_wrap {
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    -webkit-box-pack: justify;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    border-width: 0;
      box-sizing: border-box;
    display: block;
    max-width: 10%;
    vertical-align: middle;
    filter: invert(1);
  }

  div.menu {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background-attachment: scroll;
    bottom: 0;
      box-sizing: border-box;
    display: contents;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .menu nav.navigation_items {
    -webkit-box-align: center;
    -webkit-box-flex: 0;
    -webkit-box-pack: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
      flex: 0 0 auto;
    /* float: right; */
    justify-content: center;
    position: relative;
    transform: translateY(0) translateX(0);
  }

  .menu .navigation_item {
    background-color: transparent;
    box-sizing: border-box;
    color: #222;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    opacity: .6;
    padding: 9px 20px;
    position: relative;
    text-align: left;
      text-decoration: none;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 200ms;
    transition-property: opacity;
    transition-timing-function: ease;
    vertical-align: top;
  }

  .menu .navigation_item a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
  }


  /* ///////////////////////////////////// */
  .user{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: rgb(50, 20, 220);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
  }

  .buttons_navigation{
    /* position: absolute; */
    margin-top: 4px;
    margin-left: 3%;
  }
  .buttons_navigation button{
    /* float: right; */
    line-height: 20px;
    border-radius: 100%;
    width: 50px;
    margin-left: 10px;
    border: none;
    height: 50px;
    cursor: pointer;
    background-color: #F2636F;
    color: white;
} 