
.nav_colour {  
  background: #8E2DE2;  
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

.brand{
  color: white;
  font-size: 24px;
}

.option{
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.option:hover{
  color: white;
  text-decoration: none;
}

.all{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 50px 15%;
}

a {
  color: rgb(63,81,181);
}


.cart{
  width: 15px;
  margin-right: 5px;
}