@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700&display=swap');

.Video_item{
    background-color: rgb(238, 238, 238);
    border-radius: 10%;
    width: 20vw;
}
.image_item{
    width:100%;
    object-fit: cover;
}
.title_item{
    color: auto;
    font-family: 'Montserrat';
    font-size: 20px;
    /* background: red; */
    height: 50px;
}
.id_item{
    color: auto;
    font-family: 'Montserrat';
    font-size: 15px;
}