
.service{
    border-radius: 5px;
    margin: 10px 20px;
    padding: 10px 20px 0 20px;
    width: 46.4%;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 2px 20px 0 rgba(0,0,0,0.19);
}

.serviceDetails, .servicePrice {
    display: block;
}

.names{
    display: inline-block;
    width: 40%;
}
.names p{
    margin-bottom: 5px;
    width: 100%;
}

.delete {
    float: right;
    width: 20px;
    background: none;
    border: none;
}

.photo {
    display: inline;
    width: 120px;
    margin-right: 25px;
    margin-top: 5px;
    float: left;
    border-radius: 5px;
}

.starRate{
    float: right;
}