.navigation_NAVIGATION ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-transform: uppercase;
  }
  
.navigation_NAVIGATION li {
    float: right;
  }
  
.navigation_NAVIGATION li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
 