.navigation_NAVIGATION ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.navigation_NAVIGATION li {
    float: left;
  }
  
.navigation_NAVIGATION li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navigation_NAVIGATION li a:hover:not(.active) {
    background-color: #111;
  }
  