
.header{
    background: #D52349;
    width: 100%;
    height: 66px;
  }

  .wrapper{
    width: 100%;
    position: fixed;
    top:0;
  }
  
  .logo{
    width: 20%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo_name{
  
    width: 50%;
  }
  
  
  
  .nav{
    width: 80%;
    height: 100%;
    text-align: center;
    float: left;
  }
  
  
  nav ul{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    list-style:none;
    
    
  }
  
  .ulnav a{
    font-size: initial;
    width: 99.7%;
    color: #fff;
    display: block;
    height: inherit;
    line-height: 58px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
  }
  
  .ulnav{
    float: left;
    vertical-align: top; 
   
  }
  
  .ulnav li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ulnav > li { 
    width: 19.89%;
    height: 92.5%;
    float: left; 
    border-bottom: 4px #fff solid; 
    margin-right: 1px;
  }
  
  
  .ulnav li:hover{
   border-bottom-color: #EEEEEE;
  }
  
  .ulnav a:hover{
    color:#EEEEEE;
    font-size: 19px;
  }