.ul_FILTERCOURSE {
    list-style-type: none;
    margin-top: 0%;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: absolute;
    height: 60%;
    overflow: auto;
  }
  
  .li_FILTERCOURSE a {
    display: block;
    color: #000;
    padding: 8px 15%;
    text-decoration: none;
  }
  
  .li_FILTERCOURSE a.active_FILTERCOURSE {
    background-color: #4CAF50;
    color: white;
  }
  
  .li_FILTERCOURSE a:hover:not(.active_FILTERCOURSE) {
    background-color: rgb(219, 219, 219);
    color: white;
  }

.title_FILTERCOURSE{
    margin-left: 10%;
}