.fullContainer{
    height: 92.3vh;
}

.container {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    align-self: center;
}

.imgContainer {
    display: inline-block;
    width: 59%;
    vertical-align: middle;
    margin-top: 100px;
}

.img{
    width: 75%;
    margin-left: 12%;
}

.logIn{
    margin-left: 15px;
}